<!-- / carousel blur -->
<div class='hero-carousel carousel-blur carousel-blur-arrows carousel-blur-pagination flexslider' id='carousel-example-1'>
<ul class='slides'>
  <li class='item'>
    <div class='container'>
      <div class='row'>
        <div class='col-lg-12 animate'>
          <h1 class='big fadeInUp animated'>
            Fully responsive
            &amp;
            Retina ready
          </h1>
          <p class='normal fadeInUp animated'>Proin facilisis aliquam nunc quis varius.</p>
          <a class='btn btn-contrast btn-lg fadeInRight animated' href='http://themeforest.net/item/jednotka-multipurpose-website-html-template/5689597?ref=BublinaStudio'>
            Buy this theme
          </a>
        </div>
      </div>
    </div>
  </li>
  <li class='item'>
    <div class='container'>
      <div class='row'>
        <div class='col-lg-12 animate'>
          <h2 class='big fadeInLeftBig animated'>
            Clean, flat
            &amp;
            polished design
          </h2>
          <p class='normal fadeInRightBig animated'>Sed felis ligula, eleifend at neque eget.</p>
          <a class='btn btn-contrast btn-lg fadeInDownBig animated' href='http://themeforest.net/item/jednotka-multipurpose-website-html-template/5689597?ref=BublinaStudio'>
            Buy this theme
          </a>
        </div>
      </div>
    </div>
  </li>
  <li class='item'>
    <div class='container'>
      <div class='row'>
        <div class='col-lg-12 animate'>
          <h2 class='big fadeInRightBig animated'>Based on Twitter Bootstrap</h2>
          <p class='normal fadeInLeftBig animated'>Nam nec tellus molestie, sollicitudin, at...</p>
          <a class='btn btn-contrast btn-lg fadeInUpBig animated' href='http://themeforest.net/item/jednotka-multipurpose-website-html-template/5689597?ref=BublinaStudio'>
            Buy this theme
          </a>
        </div>
      </div>
    </div>
  </li>
</ul>
</div>
<div id='main-content'>
<div class='container'>
  <div class='row'>
    <div class='col-sm-12'>
      <p class='lead lead-lg text-center'>Quisque nunc sapien, malesuada vitae luctus in, blandit eu erat. Cras fringilla eros eget justo dictum convallis.</p>
    </div>
  </div>
  <div class='panels-wrapper'>
    <div class='row panels'>
      <div class='col-sm-4 panel-item'>
        <a class='panel panel-image' href='#'>
          <div class='panel-icon'>
            <i class='fa-icon-time icon'></i>
          </div>
          <div class='panel-heading'><img class="img-responsive-sm" alt="Project planning" width="768" height="300" src="http://pixabay.com/get/c1bbb7ec7df8623f5182/1425595782/colorful-208573_1920.jpg?direct" /></div>
          <div class='panel-body'>
            <h3 class='panel-title'>Project planning</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu pharetra felis.est.</p>
          </div>
        </a>
      </div>
      <div class='col-sm-4 panel-item'>
        <a class='panel panel-image' href='#'>
          <div class='panel-icon'>
            <i class='fa-icon-cog icon'></i>
          </div>
          <div class='panel-heading'><img class="img-responsive-sm" alt="Easy customizable" width="768" height="300" src="http://pixabay.com/get/c1bbb7ec7df8623f5182/1425595782/colorful-208573_1920.jpg?direct" /></div>
          <div class='panel-body'>
            <h3 class='panel-title'>Easy customizable</h3>
            <p>Etiam init rutrum ligula semper neque relu dapibus, non tempus mauris sodales.est.</p>
          </div>
        </a>
      </div>
      <div class='col-sm-4 panel-item'>
        <a class='panel panel-image' href='#'>
          <div class='panel-icon'>
            <i class='fa-icon-rocket icon'></i>
          </div>
          <div class='panel-heading'><img class="img-responsive-sm" alt="Fastest workers" width="768" height="300" src="http://pixabay.com/get/c1bbb7ec7df8623f5182/1425595782/colorful-208573_1920.jpg?direct" /></div>
          <div class='panel-body'>
            <h3 class='panel-title'>Fastest workers</h3>
            <p>Pellentesque id neque sit amet nibh placerat suscipit et a purus, mauris id.</p>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-sm-12'>
      <div class='page-header page-header-with-icon'>
        <i class='fa-icon-star'></i>
        <h2>Top features</h2>
      </div>
      <div class='text-boxes'>
        <div class='row text-box'>
          <div class='col-sm-6'><img class="img-responsive center-block" alt="Lorem ipsum dolor sit amet" width="340" height="188" src="http://pixabay.com/get/c1bbb7ec7df8623f5182/1425595782/colorful-208573_1920.jpg?direct" /></div>
          <div class='col-sm-6'>
            <h3 class='title'><a href="#">Lorem ipsum dolor sit amet</a></h3>
            <p>Mauris at ultricies eros. Morbi vel dui nec arcu suscipit euismod. Phasellus pellentesque lectus eget quam ullamcorper consectetur. Vestibulum vitae risus a erat mollis lac in venenatis tellus. Morbi et tristique lacus.</p>
            <a class='btn btn-contrast btn-bordered btn-sm' href='#'>Read more</a>
          </div>
        </div>
        <hr>
        <div class='row text-box'>
          <div class='col-sm-6 col-sm-push-6'><img class="img-responsive center-block" alt="Praesent vitae adipiscing nunc" width="330" height="183" src="assets/chart.png" /></div>
          <div class='col-sm-6 col-sm-pull-6'>
            <h3 class='title'><a href="#">Praesent vitae adipiscing nunc</a></h3>
            <p>Integer fringtilla fringilla mauris eget accumsan. Nullam quis consequat ipsum, eu cursus mi. Donec quis quam at risus viverra venenatis. Phasellus non nulla tortor. Fusce congue enim sed ullamcorper cursus. Donec tincidunt elit sed felis iaculis laoreet.</p>
            <a class='btn btn-contrast btn-bordered btn-sm' href='#'>Read more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-sm-12'>
      <div class='page-header page-header-with-icon'>
        <i class='fa-icon-suitcase'></i>
        <h2>
          Our last projects
          <small>Phasellus malesuada sapien non orci semper gravida.</small>
        </h2>
      </div>
      <div class='row portfolio-boxes'>
        <div class='col-sm-3 col-xs-6 no-mb-t-xs portfolio-box'>
          <a class='image-link' href='portfolio_detail.html'>
            <i class='fa-icon-search'></i>
            <img class="img-responsive img-rounded center-block" alt="Etiam vestibulum" width="262" height="262" src="assets/ojects/cyclist.jpg" />
          </a>
          <h3 class='title'>Etiam vestibulum</h3>
          <p class='category'>Photography</p>
        </div>
        <div class='col-sm-3 col-xs-6 no-mb-t-xs portfolio-box'>
          <a class='image-link' href='portfolio_detail.html'>
            <i class='fa-icon-link'></i>
            <img class="img-responsive img-rounded center-block" alt="Malesuada" width="262" height="262" src="assets/ojects/blueberries.jpg" />
          </a>
          <h3 class='title'>Malesuada</h3>
          <p class='category'>Webdesign</p>
        </div>
        <div class='col-sm-3 col-xs-6 portfolio-box'>
          <a href='portfolio_detail.html'>
            <div class='image-link'>
              <i class='fa-icon-search'></i>
              <img class="img-responsive img-rounded center-block" alt="Dictum vulputate" width="262" height="262" src="assets/ojects/photographer.jpg" />
            </div>
            <h3 class='title'>Dictum vulputate</h3>
            <p class='category'>Identity</p>
          </a>
        </div>
        <div class='col-sm-3 col-xs-6 portfolio-box'>
          <a href='portfolio_detail.html'>
            <div class='image-link'>
              <i class='fa-icon-search'></i>
              <img class="img-responsive img-rounded center-block" alt="Semper massa" width="262" height="262" src="assets/ojects/wipe_ears.jpg" />
            </div>
            <h3 class='title'>Semper massa</h3>
            <p class='category'>Marketing</p>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-sm-12'>
      <div class='page-header page-header-with-icon'>
        <i class='fa-icon-quote-right'></i>
        <h2>Testimonials</h2>
      </div>
      <div class='row quotes'>
        <div class='carousel carousel-default slide carousel-auto' id='carousel-testimonials'>
          <div class='carousel-inner'>
            <div class='item active quote'>
              <div class='col-sm-12 text-center'>
                <p class='lead'>Mauris at ultricies eros. Morbi vel dui nec arcu suscipit euismod. Phasellus pellentesque lectus eget quam ullamcorper consectetur. Vestibulum vitae risus a erat mollis lac in venenatis tellus.</p>
                <div class='author-wrapper'>
                  <p class='author'>
                    <strong>John Doe</strong>,
                    Company name
                  </p>
                </div>
              </div>
            </div>
            <div class='item quote'>
              <div class='col-sm-12 text-center'>
                <p class='lead'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent accumsan leo tellus. Nulla fringilla elementum nisl, vitae faucibus risus. Donec ut tristique eros. Curabitur mattis auctor turpis.</p>
                <div class='author-wrapper'>
                  <p class='author'>
                    <strong>Michal Marek</strong>,
                    Bublina Studio
                  </p>
                </div>
              </div>
            </div>
            <div class='item quote'>
              <div class='col-sm-12 text-center'>
                <p class='lead'>Aenean lorem quam, dapibus et enim vel, ultrices tincidunt tellus. Donec mattis massa et lacus interdum lobortis. Pellentesque habitant morbi tristique senectus. Curabitur mattis auctor turpis.</p>
                <div class='author-wrapper'>
                  <p class='author'>
                    <strong>Paľo Delinčák</strong>,
                    Bublina Studio
                  </p>
                </div>
              </div>
            </div>
            <div class='item quote'>
              <div class='col-sm-12 text-center'>
                <p class='lead'>Integer quis placerat leo, sit amet varius odio. Fusce sollicitudin metus eu eros egestas cursus ut ullamcorper augue. Integer blandit tellus a urna semper, sit amet tempor orci ornare. Mauris nec.</p>
                <div class='author-wrapper'>
                  <p class='author'>
                    <strong>Jane Doe</strong>,
                    Company name
                  </p>
                </div>
              </div>
            </div>
          </div>
          <ol class='carousel-indicators'>
            <li class='active' data-slide-to='0' data-target='#carousel-testimonials'></li>
            <li data-slide-to='1' data-target='#carousel-testimonials'></li>
            <li data-slide-to='2' data-target='#carousel-testimonials'></li>
            <li data-slide-to='3' data-target='#carousel-testimonials'></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>