<div class='container'>
  <nav class='navbar navbar-collapsed-sm navbar-default' id='nav' role='navigation'>
    <div class='navbar-header'>
      <button class='navbar-toggle' data-target='.navbar-header-collapse' data-toggle='collapse' type='button'>
        <span class='sr-only'>xiaojiang</span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
      <a class='navbar-brand' href='index.html'>
        <img alt="Jednotka" width="150" height="59" src="/assets/log.png" />
      </a>
    </div>
    <div class='collapse navbar-collapse navbar-header-collapse'>
      <ul class='nav navbar-nav navbar-right'>
        <li class='active dropdown'>
          <a class='dropdown-toggle' data-delay='50' data-hover='dropdown' data-toggle='dropdown' href='#'>
            <span>
              教程
              <i class='fa-icon-angle-down'></i>
            </span>
          </a>
          <ul class='dropdown-menu' role='menu'>
            <li class='active dropdown-submenu'>
              <a href='index.html'>教程</a>
            </li>
            <li class=''>
              <a href='index2.html'>Ruby</a>
            </li>
            <li class=''>
              <a href='index3.html'>Ruby on Rails</a>
            </li>
            <li class=''>
              <a href='boxed.html'>Ruby one to one</a>
            </li>
          </ul>
        </li>
        <li class='dropdown'>
          <a class='dropdown-toggle' data-delay='50' data-hover='dropdown' data-toggle='dropdown' href='#'>
            <span>
              Pages
              <i class='fa-icon-angle-down'></i>
            </span>
          </a>
          <ul class='dropdown-menu' role='menu'>
            <li class=''>
              <a href='about_us.html'>About us</a>
            </li>
            <li class=''>
              <a href='services.html'>Services</a>
            </li>
            <li class=''>
              <a href='faq.html'>FAQ</a>
            </li>
            <li>
              <a href='404.html'>404 Error</a>
            </li>
            <li>
              <a href='500.html'>500 Error</a>
            </li>
            <li>
              <a href='coming_soon.html'>Coming soon</a>
            </li>
            <li>
              <a href='under_construction.html'>Under construction</a>
            </li>
          </ul>
        </li>
        <li class='dropdown'>
          <a class='dropdown-toggle' data-delay='50' data-hover='dropdown' data-toggle='dropdown' href='#'>
            <span>
              Features
              <i class='fa-icon-angle-down'></i>
            </span>
          </a>
          <ul class='dropdown-menu' role='menu'>
            <li class=''>
              <a href='animations.html'>Animations</a>
            </li>
            <li class=''>
              <a href='elements.html'>Elements</a>
            </li>
            <li class=''>
              <a href='icons.html'>Icons</a>
            </li>
            <li class=''>
              <a href='forms.html'>Forms</a>
            </li>
            <li class=''>
              <a href='tables.html'>Tables</a>
            </li>
            <li class=''>
              <a href='typography.html'>Typography</a>
            </li>
            <li class=''>
              <a href='pricing_tables.html'>Pricing tables</a>
            </li>
            <li class='dropdown-submenu'>
              <a href='index.html'>
                Submenu
                <i class='fa-icon-angle-right'></i>
              </a>
              <ul class='dropdown-menu' role='menu'>
                <li>
                  <a href='index.html'>Submenu item</a>
                </li>
                <li>
                  <a href='index.html'>Submenu item</a>
                </li>
                <li>
                  <a href='index.html'>Submenu item</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class='dropdown'>
          <a class='dropdown-toggle' data-delay='50' data-hover='dropdown' data-toggle='dropdown' href='#'>
            <span>
              Blog
              <i class='fa-icon-angle-down'></i>
            </span>
          </a>
          <ul class='dropdown-menu' role='menu'>
            <li class=''>
              <a href='blog_small.html'>Small image</a>
            </li>
            <li class=''>
              <a href='blog_large.html'>Large image</a>
            </li>
            <li class=''>
              <a href='blog_single_post.html'>Single post</a>
            </li>
          </ul>
        </li>
        <li class='dropdown'>
          <a class='dropdown-toggle' data-delay='50' data-hover='dropdown' data-toggle='dropdown' href='#'>
            <span>
              Portfolio
              <i class='fa-icon-angle-down'></i>
            </span>
          </a>
          <ul class='dropdown-menu' role='menu'>
            <li class=''>
              <a href='portfolio.html'>2 columns</a>
            </li>
            <li class=''>
              <a href='portfolio_three_cols.html'>3 columns</a>
            </li>
            <li class=''>
              <a href='portfolio_four_cols.html'>4 columns</a>
            </li>
            <li class=''>
              <a href='portfolio_detail.html'>Project detail</a>
            </li>
          </ul>
        </li>
        <li class='dropdown'>
          <a class='dropdown-toggle' data-delay='50' data-hover='dropdown' data-toggle='dropdown' href='#'>
            <span>
              Contact
              <i class='fa-icon-angle-down'></i>
            </span>
          </a>
          <ul class='dropdown-menu' role='menu'>
            <li class=''>
              <a href='contact.html'>Contact</a>
            </li>
            <li class=''>
              <a href='contact2.html'>Contact 2</a>
            </li>
            <li class=''>
              <a href='contact3.html'>Contact 3</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</div>